.css-b62m3t-container {
    width: 32%;
}
.css-13cymwt-control {
    height: 48px !important;
}
.css-t3ipsp-control {
    height: 48px !important;
}
.sortByText{
    font-size: 1em !important;
    font-weight: 550 !important;
}